<!DOCTYPE html>
<html>
    <head th:replace="layout/plantilla :: head">
        <title>TechShop</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <h2>Datos de cliente</h2>
        <br/> 
        <a th:href="@{/}">Regresar</a>
        <br/>
        <br/>
        <form th:action="@{/guardarCliente}"
              method="POST"
            th:object="${cliente}">
            <input type="hidden" name="idCliente" th:field="*{idCliente}" />
            <label for="nombre">Nombre:</label><br/>
            <input type="text" name="nombre" th:field="*{nombre}"/><br/>
            
            <label for="nombre">apellidos:</label><br/>
            <input type="text" name="apellidos" th:field="*{apellidos}"/><br/>
            
            <label for="nombre">Correo:</label><br/>
            <input type="email" name="correo" th:field="*{correo}"/><br/>
            
            <label for="nombre">Tel:</label><br/>
            <input type="tel" name="telefono" th:field="*{telefono}"/><br/><br/>
            
            <input type="submit" name="Guardar" value="Guardar"/>
                  
        </form>
    </body>
</html>
